@{
    ViewData["Title"] = "PTM | Dashboard";
    ViewBag.Title = "PTM | Dashboard";
    ViewBag.UserName = "First Last";
}
<div>
    @*<partial name="~/Views/Shared/_TeamLeadDashboard.cshtml" />*@
    @if (true)
    {
        Html.RenderPartial("~/Views/Shared/_TeamLeadDashboard.cshtml");
    }
</div>