@using TaskManagementMVC.Entities.ViewModels.TasksViewModels;
@model TaskDetailsViewModel
@{

}

<div >
    
    <div class="row">
        <h2>Task Details</h2>
        <hr>
        <form class="row" method="post" asp-action="TaskDetails" asp-controller="Task">
            <input id="Id" type="text" hidden asp-for="Id" />
            <div class="col-md-6 mb-3">
                <label for="taskTitle" class="form-label">Task Title</label>
                <input type="text" asp-for="Title" class="form-control" id="taskTitle">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label for="taskStatus" class="form-label">Status</label>
                <input type="text" asp-for="Status" class="form-control" id="taskStatus" readonly>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="col-md-12 mb-3">
                <label for="taskDescription" class="form-label">Description</label>
                <textarea class="form-control" asp-for="Description" id="taskDescription" rows="4">Description of the task</textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label for="taskType" class="form-label">Type</label>
                <input type="text" asp-for="Type" class="form-control" id="taskType" readonly>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label for="assignedTo" class="form-label">Assigned To</label>
                <div class="d-flex align-items-center">
                    @if (Model.Avatar != null)
                    {
                        <img src="@Model.Avatar" alt="Avatar" class="rounded-circle me-2"
                             style="width: 30px; height: 30px;">
                    }
                    else
                    {
                        <img src="~/images/memberavatar.png" alt="Avatar" class="rounded-circle me-2"
                             style="width: 30px; height: 30px;">
                    }
                    <span>@Model.AssignedTo</span>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="assignedBy" class="form-label">Assigned By</label>
                <input type="text" asp-for="AssignedBy" class="form-control" id="assignedBy" readonly>
                <span asp-validation-for="AssignedBy" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label for="createdBy" class="form-label">Created By</label>
                <input type="text" asp-for="CreatedBy" class="form-control" id="createdBy" readonly>
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label for="deadline" class="form-label">Deadline</label>
                @{
                    string formattedDeadline = Model.Deadline.ToString("yyyy-MM-dd");
                }
                <input type="date" class="form-control" id="formattedDeadline" value="@formattedDeadline">
                <input type="hidden" asp-for="Deadline" id="actualDeadline">
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="col-12 text-end">
                <button type="submit" class="text-dark btn btn-warning">Save Changes</button>
            </div>
        </form>
    </div>


    <div class="row justify-content-start">
        <div class="col-md-6">
            <h2 class="mt-2">Task Logs</h2>
            <hr>
            <div id="task-logs-wrapper">
                <partial name="_TaskLogs" model="Model.Logs" />
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="mt-2">Comments</h2>
            <hr>
            <div class="mb-3">
                <label for="comment" class="form-label">Add Comment</label>
                <textarea class="form-control" asp-for="Comment" id="comment" rows="4"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <button type="button" onclick="SaveComment()" class="btn btn-primary">Comment</button>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        // Synchronize values between the visible and hidden input fields
        document.getElementById('formattedDeadline').addEventListener('change', function () {
            var formattedDate = this.value;
            document.getElementById('actualDeadline').value = formattedDate;
        });

        function SaveComment() {
            debugger;
            var comment = document.getElementById("comment").value;
            var taskId = @Html.Raw(Model.Id);
            $.ajax({
                type: "POST",
                url: "/Task/SaveComment",
                data: { comment: comment, taskId : taskId},
                success: function (response) {
                    console.log(response);
                    $("#task-logs-wrapper").html(response);
                },
                error: function (error) {
                    console.log(error);
                },
                complete:function(){
                    document.getElementById("comment").value = "";
                }
            });
        }
    </script>
}
