@using TaskManagementMVC.Entities.ViewModels.Manager
@model IEnumerable<TeamListingViewModel>
@{
    ViewData["Title"] = "PTM | Manager Dashboard";
    ViewBag.Title = "Manager Dashboard";
}


@if (TempData["LoginSuccess"] != null)
{
    Html.RenderPartial("_ToastSuccess", TempData["LoginSuccess"]);
}

<div class="container-fluid" style="height:100vh">
    @if (Model.Count() > 0)
    {
        <partial name="~/Views/Shared/Manager/_TeamListing.cshtml", model="Model" />
    }
    else
    {
        <partial name="~/Views/Shared/Manager/_CreateTeam.cshtml" />
    }
</div>
