@model List<Dictionary<long,string>>
@{

}
<ul class="list-group">
    @foreach (var log in Model)
    {
        <li class="list-group-item">
            <div><strong>@log.Keys.First():</strong> @log.Values.First()</div>
        </li>
    }
</ul>