@using TaskManagementMVC.Entities.ViewModels.UserViewModels;
@model PasswordViewModel
@{
    ViewData["Title"] = "PTM | Reset Password";
    ViewBag.Title = "PTM | Reset Password";
    ViewBag.ActivePage = "Reset Password";
}

<div class="login-container w-75 w-lg-50 mt-5 m-auto">
    <div class="wrapper row justify-content-between align-items-center">
        <div class="left col-md-5 d-none d-md-block border-end pe-4">
            <div class="company-logo">
                <img src="logo-ptm.png" alt="Company Logo">
                <h4>Company Name</h4>
                <p class="text-center">
                    <em><strong>Reset your password with below guidelines:</strong></em>
                    <ul class="text-start ps-4">
                        <li><i class="bi bi-caret-right"></i> Minimum 8 characters</li>
                        <li><i class="bi bi-caret-right"></i> At least 1 uppercase letter</li>
                        <li><i class="bi bi-caret-right"></i> At least 1 lowercase letter</li>
                        <li><i class="bi bi-caret-right"></i> At least 1 number</li>
                        <li><i class="bi bi-caret-right"></i> At least 1 special character</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="right col-md-6 ms-1">
            <div class="login-title">
                <h3>Reset Password</h3>
            </div>
            <form method="post" asp-action="ResetUserPassword" asp-controller="User">
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword" asp-for="@Model.Password" placeholder="Password" required>
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="inputPassword" asp-for="@Model.ConfirmPassword" placeholder="Password" required>
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary w-100">Reset Password</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}